language: go

os:
  - linux
  
go: 
  - 1.9.x
  - tip

install:
  - go get -u github.com/golang/dep/cmd/dep
  - dep ensure
  - go get -u github.com/golang/lint/golint
  - go get -u golang.org/x/tools/cmd/goimports
  
script:
 - go vet ./...
 - golint -set_exit_status $(go list ./... | grep -v vendor)
 - ./test.sh

after_success:
 - bash <(curl -s https://codecov.io/bash)